body{
    background-color: wheat;
    font-family: georgia;
}
p{
    color: #fd0d0d;
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}